@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p>Pagina inicial modificada da atividade solicitada pelo professor Daniel Ferreira De Barros Jr</p>
</div>
